.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ab6e12c7;
}

.header {
    background-color: #ffffff;
}

.container {
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(214, 156, 48, 0.1);
}

.card {
    margin: auto;
}

.btn-primary {
    margin-top: 10px;
}

.Footer {
    max-width: 100%;
    padding: 20px;
    background-color: #e2e2e2;
    text-align: center;
}